node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env.local
google-services.json
GoogleService-Info.plist
client_secret_1085887580219-jschvne39r36tapl36ubqmk3ktgve2r4.apps.googleusercontent.com.json